/* Color constants */
@lighttext: #bbb;
@defaultblue: #006ee9;
@darkreddish: #871a00;
@altblue: #0073e6;
@ghost: #c4c5c8;
@geyser: #ccced1;
@onahau: #c3e0f8;
@delta: #999694;
@citrus: #a5a300;

@cloud: rgba(255, 255, 255, 0.5);
@filter-toolbar-color: rgba(55,55,55,0.4) !important;

/* Other constants */
@lightpadding: 10px;
@smalltext-size: 8pt;
@large-text: 20pt;
@smallfonts: normal 0.8em "Roboto", Arial, sans-serif;
@ptext: Palatino, Times;


html {
  height:100%
}

body {
  font-family: "Roboto", 'Helvetica Neue', Helvetica, Arial, sans;
  font-size: 12pt;
  color: #333;
  height:100%;
}

.toolbar-icon-size {
  font-size: 1.5em;
}

#header-toolbar {
  i {
    .toolbar-icon-size
  }
}

.spacer {
  margin-top: 0.5em;
  &.large {
    margin-top: 2.0em;
  }
  &.medium {
    margin-top: 1.0em;
  }
}

.categories-container {
  width: 80%;
  border-radius: 4px;
  md-toolbar {
    border-radius: 3px 3px 0 0;
    .icons-container {
      md-input-container {
        padding: 0;
        input {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .category-cards {
    .img-wrapper {
      background-color: #9EC042;
      img {
        width: 100px; 
        height: 100px
      }
    }
    md-card-content {
      color: #484848;
    }
  }
}

