//- include ./partials/header
//- section#forum-category
//-   include ./partials/sideNav
//-   .spacer.large
//-     h1.md-title Entertainment
//-     div(layout="row" layout-align="space-between")
//-       md-card(flex="46")
//-         md-card-content
//-           h2.md-title Celebrities
//-           p
//-             | The titles of Washed Out&apos;s breakthrough song and the first single from Paracosm share the
//-             | two most important words in Ernest Greene&apos;s musical language: feel it. It&apos;s a simple request, as well...

//-       md-card(flex="46")
//-         md-card-content
//-           h2.md-title Celebrities
//-           p
//-             | The titles of Washed Out&apos;s breakthrough song and the first single from Paracosm share the
//-             | two most important words in Ernest Greene&apos;s musical language: feel it. It&apos;s a simple request, as well...