include ./partials/header
section(layout="row")
  include ./partials/sideNav

  md-whiteframe.md-whiteframe-2dp.categories-container.spacer.large(flex-offset="10" layout="column" )
    md-toolbar.md-primary
      .md-toolbar-tools
        h3 FORUMS
        div.icons-container(flex layout="row" layout-align="end center")
          md-input-container.md-accent
            input(type="text" aria-label="filter input")
          md-button.md-icon-button(aria-label="filter icon")
            i.mdi.mdi-filter-outline.toolbar-icon-size
    .md-padding(layout="row" layout-wrap layout-align="center end" )
      md-content.md-padding.no-bg(flex="30" ng-repeat="category in categories")
        md-card.category-cards
          .img-wrapper(layout="column" layout-align="center center" layout-padding)
            img.md-card-image(src='/img/{{category.icon}}')   
          md-card-content
            a(ui-sref="forum-category({category: category.name})") {{category.name}}
          
            